<mat-sidenav-container class="dashboard">
  <mat-sidenav mode="side" opened>
    <nav>
      <a mat-list-item routerLink="/admin/users">Users</a>
      <a mat-list-item routerLink="/admin/roles">Roles</a>
      <a mat-list-item routerLink="/admin/tenancies">Tenancies</a>
      <a mat-list-item routerLink="/storage">Storage</a>
    </nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span>stynx</span>
      <span class="spacer"></span>
      <stc-language-switcher></stc-language-switcher>
      <stc-theme-switcher></stc-theme-switcher>
      <stc-logging-switcher></stc-logging-switcher>
      <button mat-button (click)="logout()">Logout</button>
    </mat-toolbar>
    <stc-debug-user-banner [user]="user$ | async"></stc-debug-user-banner>
    <section class="content">
      <router-outlet></router-outlet>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
