<mat-card>
  <h2>Tenancies</h2>
  <form class="tenancy-form" [formGroup]="form" (ngSubmit)="create()">
    <mat-form-field appearance="outline">
      <mat-label>Code</mat-label>
      <input matInput formControlName="code" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
    <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">Create</button>
  </form>
  <div class="list">
    @if (tenancies$ | async as tenancies) {
      @for (tenancy of tenancies; track tenancy.tenancyId) {
        <div class="tenancy">
          <h3>{{ tenancy.name }}</h3>
          <div class="subtitle">{{ tenancy.code }}</div>
        </div>
      }
    }
  </div>
</mat-card>
