@use '@angular/material' as mat;

:root {
  color-scheme: light dark;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background: #fafafa;
}

.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}
